<ion-view view-title="{{item.name}}">
   
   <ion-nav-buttons side="secondary">
     <button class="button button-clear">
       Edit
     </button>
   </ion-nav-buttons>
 
  <ion-content>
    
    <img ng-src="{{ item.URI || 'img/camera.png' }}" class="item-view" ng-click="getPicture()" ng-disabled="!edit">

    <div class="list">

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="item.name">
      </label>

      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="item.desc">
      </label>

      <label class="item range range-positive">
        <span class="input-label">Rating</span>
        <input type="text" ng-model="item..rating">
      </label>

      <label class="item item-input">
        <span class="input-label">Location</span>
        <input type="text" ng-model="item.loc">
      </label>

    </div>

<!--     <button class="button button-block button-outline button-positive" ng-hide="edit" ng-click="enableEdit()">Edit</button> -->

  </ion-content>
</ion-view>