<ion-view view-title="{{item.name}}">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="openEdit()">Edit</button>
  </ion-nav-buttons>

  <ion-content>
    
    <img ng-src="{{ item.URI || 'img/camera.png' }}" class="item-view" ng-click="getPicture()" ng-disabled="!edit">

    <ion-list>
      <ion-item class="item-stacked-label">
        <label><strong>Name</strong></label>
        <p>{{ item.name }}</p>
      </ion-item>

      <ion-item class="item-stacked-label">
        <label><strong>Description</strong></label>
        <p>{{ item.desc }}</p>
      </ion-item>

      <ion-item class="item-stacked-label">
        <label class="input-label"><strong>Rating</strong></label>
        <p>{{item.rating}}</p>
      </ion-item>

    </ion-list>
    
  </ion-content>
</ion-view>