<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Edit Item</h1>
        <button class="button button-positive button-outline" ng-click="closeEdit(name, URI, loc, criteria, rating, ID)">Done</button>
    </ion-header-bar>
    <ion-content>
        <img ng-src="{{ URI }}" width="200" height="200">
        <button class="button button-positive" ng-click="getPicture()">
          <i class="icon ion-camera"></i>Get a new picture
        </button>
        <p>{{ URI }}</p>
        <p>ID: {{ id }}</p>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Naam" ng-model="name">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Location</span>
                <input type="text" placeholder="50.3740482,-4.126179" ng-model="loc">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Criteria</span>
                <input type="text" placeholder="stuff" ng-model="criteria">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Rating</span>
                <input type="number" placeholder="5" ng-model="rating">
            </label>
        </div>

    </ion-content>
</ion-modal-view>