<ion-view view-title="SQL Test">
  <ion-content>
    <h1>WebSQL test</h1>

    <button class="button button-positive button-full" ng-click="insert('testname', 'testURI', 'testloc', 'testcriteria', 'tesRrating')">Add test data</button>

    <button class="button button-balanced button-full" ng-click="selectAll()">Retrieve DB content</button>

    <button class="button button-assertive button-full" ng-click="nukeAll()">Clear Database</button>

    <div ng-repeat="item in ratings">
        <p>
            {{ item.ID }}
        </p>
    </div>
  </ion-content>
</ion-view>